@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

/* Custom scrollbar cho ProfilePictureSection */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #e7a5a5;
  border-radius: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'IBM Plex Mono', monospace;
}
